<% content_for :title, "Informaciones" %>
<br>
<div class="container">
<div class="image1">
         <img src="<%= asset_path "informaciones.png"%>" class="image1"alt="">
    </div>
</div>
<div class="container center-cont">
<div class="row">
<div class="col-12 col-md-12 col-lg-12">
<% @tags.each do |tag| %>
<div class="card card-float divsize" style="width: 12rem;">
  <%= link_to tag.title, tag, class: "link-info"%>
</div>

<% end %>
</div>
</div>
</div>
