<h1><%= @tag.title %></h1>

<h3>¿Que es "<%= @tag.title %>"?</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad labore officia odio repellendus autem repudiandae aliquam ab, dolores nihil. Placeat dolore itaque non reprehenderit atque libero autem sunt tenetur! Optio?</p>

<h3>¿Donde hacer mi queja formal?</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dicta tempora ea repellendus exercitationem doloremque magnam iste sed aliquid corporis. Voluptatem totam illo aspernatur magnam a distinctio saepe rerum nemo?</p>

<h3>Links Utiles:</h3>
<%= link_to 'Carabineros', 'https://www.chileatiende.gob.cl/fichas/32194-denuncia-por-robo-y-otros-delitos-ante-carabineros' %>
<br>
<%= link_to 'Volver', tags_path %>