<% content_for :title, "Sobre nosotros" %>
<br>
<div class="container">
<div class="image1">
         <img src="<%= asset_path "SOBRE.png"%>" class="image1"alt="">
    </div>

<br>
<div class="bg-white">
<h3 class="h3center">Propuesta</h3>
<p class="h3center">Nuestra propuesta es traer un ambiente seguro en el cual podamos convivir. Queremos pasar la seguridad para nuestros usuarios tratando de pasar de manera dinámica informaciones de lo que esta pasando en cada sector.</p>
<hr class="hr-all">
<h3 class="h3center">Sobre nosotros</h3>
<p class="h3center">Nadie debería tener miedo de caminar por las calles,simplemente por ser mujer, extranjero, homosexual, transexual o negro. Pero infelizmente esto es algo que pasa todos los días. Poco se discute o casi nada sobre el tamaño y la naturaleza del problema. Ya BASTA fue creada para luchar contra los crimines de odio en lugares públicos.</p>
<hr class="hr-all">
<h3 class="h3center">Impacto social esperado</h3>
<p class="h3center">Mientras más personas apoyen este proyecto, sea hombre, mujer, blanco, negro, hetero, homosexual, lo ideal es tener la conciencia de lo que esta pasando es algo grave y cada ayuda es significativa para el desarrollo de ¡Ya BASTA!</p>
</div></div>
</div>
<br><br><br>