<br>
<div class="container">
<div class="image1">
        <h1>SOBRE NOSOTROS:</h1>
    </div>


<h3>Propuesta</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et blanditiis officiis deleniti temporibus laudantium libero, porro dignissimos totam atque, reprehenderit nihil possimus, necessitatibus veritatis. Cumque, ipsa beatae. Dolore, est enim.</p>

<h3>Sobre nosotros</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae explicabo placeat id, modi nemo natus vel quasi ea doloremque odio pariatur nesciunt esse velit dicta commodi sint nobis vitae? Accusamus.</p>

<h3>Impacto social esperado</h3>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente placeat iusto necessitatibus natus perspiciatis unde impedit corrupti harum ipsam error similique voluptatem, fugiat accusamus. Nostrum similique est doloribus! Perspiciatis, necessitatibus.</p>
</div></div>