<h1>¡Ya BASTA!</h1>
<p>Aca un mapa</p>




<%= button_to "Comparte tu relato", new_post_path, class: "btn btn-outline-warning my-2 my-sm-0", method: :get, remote: true  %>

<%= link_to "Vea el mapa", map_posts_path, class: "btn btn-outline-success my-2 my-sm-0" %>



<%= render 'modal_posts' %>