<% content_for :title, "Home" %>
<div class="cont-mod">
<div id="map_div" style="height: 550px;"> </div> 
    
      <%# <div class="col-12 col-md-6 col-lg-6 home1"> %>
        <img src="<%= asset_path "logo.png"%>" class="img"alt="">
      <%# </div> %>

      <%# <div class="col-12 col-md-6 col-lg-6 home2 center loguin"> %>

        <%= button_to "COMPARTE TÚ RELATO", new_post_path, class: "btn1", method: :get, remote: true  %>
        <br>
        <%= button_to "VEA EL MAPA", map_posts_path, class: "btn2", method: :get %>
      <%# </div> %>
    <%# </div> %>

<%= render 'modal_posts' %>

<script>

var map = new google.maps.Map(document.getElementById("map_div"), {
  center: new google.maps.LatLng(-33.4372, -70.6506),
  zoom: 10,
  disableDefaultUI: true,
  draggable: false, 
  zoomControl: false, 
  scrollwheel: false, 
  disableDoubleClickZoom: true,
  mapTypeId: google.maps.MapTypeId.ROADMAP
});

  var marker = new google.maps.Marker({
    position:{
      lat: -33.4372,
      lng: -70.6506
    },
    map: map,
    draggable: true,
  });
  
  window.onresize = function() {
  var currCenter = map.getCenter();
  google.maps.event.trigger(map, 'resize');
  map.setCenter(currCenter);
};


</script>