<br>
<div class="container">

    <div class="image1">
        <h1>RELATOS</h1>
    </div>
    <br>
    <table id="my-table" class="table table-hover display">
        <thead>
            <tr>
                <th>Tipo de Crimén de Odio:</th>
                <th>Publicación:</th>
                <th>Autor:</th>
                <th>Fecha del suceso:</th>
                <th>Periodo del dia:</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="lista">
           <%= render @posts %>
        </tbody>
    </table>

</div>
<script>
$(document).on("turbolinks:load",function() {
    $('#my-table').dataTable({
      
    });
} );
</script>