<div class="container">

<h1>
RELATOS
</h1>
<%# <label for="">Buscar:</label>
<input type="text" id="tipocrimen"> %>
<%# <label for="">Buscar por periodo:</label>
<input type="text" id="buscador"> %>

<table id="table_id" class="table table-hover display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Fecha</th>
            <th>Periodo del dia</th>
            <th>Hora de creación</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="lista">
       <%= render @posts %>
    </tbody>
</table>

</div>
<script>
$(document).on("turbolinks:load",function() {
    $('#table_id').dataTable({
      autoFill: true
    });
} );
</script>