<div style='width: 800px;'>
 <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({
 provider: {
 center: new google.maps.LatLng({lat: -37, lng: -72}),
 zoom: 5
 },
 internal: {
 id: 'map'
 }
 },
 function(){
 markers = handler.addMarkers(<%=raw @hash.to_json %>);
 }
);
//  google.maps.event.addListener(handler.getMap(), "center_changed", function(e){
//  var new_center = handler.getMap().getCenter();
//  var lat = new_center.lat();
//  var lng = new_center.lng();
//  console.log(lat, lng)
//  });
</script>